.card {
  border: 2px solid var(--dark-orange);
  background-color: var(--orange);
  padding: 2px;
  margin: 10px;
  margin-top: 20px;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-rows: repeat(4 auto);
}

.card__bookmark {
  all: unset;
  position: absolute;
  height: 10px;
  right: 10px;
  top: -5px;
  border: 15px solid var(--dark-orange);
  border-bottom-color: transparent;
}

.card__bookmark--active {
  border-color: var(--text);
  border-bottom-color: transparent;
}

.card__answer {
  border-radius: 30px;
  background-color: var(--dark-orange);
  border: 1px solid var(--text);
  color: var(--text);
  display: inline-block;
  padding: 3px 5px;
  width: 10em;
  place-self: center;
}

.card__answer--active {
  background-color: var(--blue);
}

.card__answer--pointer {
  cursor: pointer;
}

.card__tags {
  padding-top: 10px;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

.card__tags--style {
  background-color: var(--dark-orange);
  padding: 3px 10px;
  margin: 5px;
  border-radius: 5px;
}

.card__tags--style:hover {
  background-color: var(--light-orange);
  padding: 3px 10px;
  margin: 5px;
  border-radius: 5px;
}

.card-list {
  list-style: none;
  padding-left: 0;
}
