<form
  class="create"
  aria-labelledby="create-question-heading"
  autocomplete="off"
>
  <label class="create__label" for="input-question"
    >Let us know your question:</label
  >
  <textarea
    data-js="text-question"
    class="w-100 create__textfield"
    id="input-question"
    required
    placeholder="What is your question?"
    maxlength="150"
  ></textarea>
  <output data-js="characters-question" class="create__remaining--question"
    >150 characters remaining</output
  >
  <label class="create__label" for="input-answer"
    >Let us know your answer:</label
  >
  <textarea
    data-js="text-answer"
    class="w-100 create__textfield"
    id="input-answer"
    rows="4"
    required
    placeholder="What is the answer?"
    maxlength="400"
  ></textarea>
  <output data-js="characters-answer" class="create__remaining--answer"
    >400 characters remaining</output
  >
  <label class="create__label" for="input-tags">Please name tags: </label>
  <input
    class="w-100 create__textfield"
    id="input-tags"
    required
    placeholder="Tag 1, Tag 2, Tag 3, Tag 4"
  />
  <input
    id="submit"
    class="create__button"
    type="submit"
    name="submit"
    value="Submit"
    text="Submit"
  />
</form>
