<nav class="app-grid__fixed-btn Nav">
  <ul class="Nav--display-content">
    <li class="no-bul Nav__icon">
      <img
        src="https://www.svgrepo.com/show/69748/white-home.svg"
        alt="Home Button"
        width="32"
        height="32"
        data-nav="home"
      />
    </li>
    <li class="no-bul Nav__icon">
      <img
        src="https://www.svgrepo.com/show/256788/copy.svg"
        alt="Create Button"
        width="32"
        height="32"
        data-nav="create"
      />
    </li>
    <li class="no-bul Nav__icon">
      <img
        src="https://www.svgrepo.com/show/141529/bookmark.svg"
        alt="Bookmarks Button"
        width="32"
        height="32"
        data-nav="bookmark"
      />
    </li>
    <li class="no-bul Nav__icon">
      <img
        src="https://www.svgrepo.com/show/43426/profile.svg"
        alt="Profile Button"
        width="32"
        height="32"
        data-nav="profile"
      />
    </li>
  </ul>
</nav>
