.Nav {
  background-color: var(--orange);
  width: 100%;
  display: grid;
  margin: -5px 0;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.Nav--display-content {
  display: contents;
}

.Nav__icon {
  align-self: flex-end;
  margin: 5px 20px;
  padding: 10px;
}

.Nav__icon:hover {
  background-color: var(--light-orange);
}

.Nav__icon--active {
  background-color: var(--dark-orange);
  border-radius: 5px;
}
