.card {
  border: 2px solid var(--dark-orange);
  background-color: var(--orange);
  padding: 2px;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr auto 1fr;
}

.card__bookmark {
  background-color: var(--dark-orange);
  width: 30px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: 10px;
}

.card__bookmark:active {
  background-color: var(--blue);
}

.card__tags {
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

.card__tags--style {
  background-color: var(--dark-orange);
  padding: 3px 10px;
  margin: 5px;
  border-radius: 5px;
}
