<article class="card">
  <button class="card__bookmark bg-blue"></button>
  <h2>Question</h2>
  <p class="center">Text of question</p>
  <details class="center">
    <summary>show answer</summary>
    <p>Answer</p>
  </details>
  <ul role="list" class="card__tags no-bul">
    <li class="inline card__tags--style">tag 1</li>
    <li class="inline card__tags--style">tag 2</li>
    <li class="inline card__tags--style">tag 3</li>
    <li class="inline card__tags--style">tag 4</li>
  </ul>
</article>
