.create {
  display: grid;
  grid-template-rows: repeat (3, auto 1fr) 1fr;
  justify-items: start;
}

.create__label--padding {
  margin-top: 8px;
  padding: 4px;
}

.create__textfield {
  height: rows 4;
  padding: 8px 10px;
  border: 2px solid var(--dark-orange);
  border-radius: 4px;
  background-color: var(--light-orange);
}

.create__button {
  margin: 10px;
  justify-self: center;
  background-color: var(--orange);
}
