<nav class="nav">
  <ul class="nav--display-content">
    <li class="no-bul nav__icon nav__icon:hover nav__icon:active">
      <a href="./index.html" aria-label="change to quiz-app"
        ><img
          src="https://www.svgrepo.com/show/69748/white-home.svg"
          alt="Home Button"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="no-bul nav__icon nav__icon:hover nav__icon:active">
      <a href="./create.html" aria-label="change to create"
        ><img
          src="https://www.svgrepo.com/show/256788/copy.svg"
          alt="Create Button"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="no-bul nav__icon nav__icon:hover nav__icon:active">
      <a href="./bookmarks.html" aria-label="change to bookmarks"
        ><img
          src="https://www.svgrepo.com/show/141529/bookmark.svg"
          alt="Bookmarks Button"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="no-bul nav__icon nav__icon:hover nav__icon:active">
      <a href="./profile.html" aria-label="change to profile"
        ><img
          src="https://www.svgrepo.com/show/43426/profile.svg"
          alt="Profile Button"
          width="32"
          height="32"
      /></a>
    </li>
  </ul>
</nav>
